.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-content {
    position: relative;
    background-color: #e5e5e5;
    margin: auto;
    padding: 2rem;
    width: 90%;
    max-width: 65rem;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
    border-radius: 1rem;
    display: flex;
}

.modal-external {
    width: 40%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;

}

.modal-external img {
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.modal-external p {
    margin: 0 0 1rem 0;
    width: 100%;
    background-color: rgb(248, 248, 248);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 1rem;
    color: #0e1c42;
    cursor: default;
}

.modal-external a {
    display: block;
    margin: 0 0 1rem 0;
    width: 100%;
    background-color: rgb(248, 248, 248);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    color: #0e1c42;
}

.modal-external button {
    display: block;
    margin: 0;
    width: 100%;
    background-color: rgb(248, 248, 248);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    text-align: center;
    border: 0;
    margin-top: auto;
    color: #0e1c42;
}

.modal-external a:hover, button:hover {
    background-color: #383838;
    color: rgb(248, 248, 248);
}

.modal-summary {
    width: 60%;
    background-color: #fefefe;
    border-radius: 1rem;
    margin-left: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.modal-summary p {
    margin-top: 0;
    color: #0e1c42;
}

.modal-summary .base {
    margin-top: auto;

}

.modal-summary .base p {
    margin-bottom: 0;
    color: #0e1c42;
}

@media (max-width: 820px) {
    .modal-content {
        display: block;
    }
    .modal-external {
        width: 100%;
    }
    .modal-summary {
        width: 100%;
        margin-left: 0;
        display: none;
    }
  }

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}