@import url("https://fonts.googleapis.com/css2?family=Jersey+25&display=swap");
@import "tailwindcss";

@theme {
  --color-lightblue: #e3f4ff;
  --color-hoverblue: #addfff;

  --color-darkblue: #001c2e;

  --font-jersey: "Jersey 25", sans-serif;
}

.custom-gradient {
  background: linear-gradient(
    to bottom,
    #001c2e 0%,
    #003352 34%,
    #005990 65%,
    #c1e8ff 100%
  );
}
