@import url("https://fonts.googleapis.com/css2?family=Jersey+25&display=swap");
@import "tailwindcss";

@theme {
  --color-lightblue: #e3f4ff;
  --color-hoverblue: #addfff;
  --color-descgrey: #91a6b3;
  --color-descgreen: #cdffd2;
  --color-descred: #ffb2b2;

  --color-darkblue: #001c2e;
  --color-midblue: #153041;
  --color-waterblue: #6e95cc;
  --color-cardblue: #32505e;

  --font-jersey: "Jersey 25", sans-serif;
}

@layer utilities {
  @keyframes fadeInOutSlow {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  @keyframes fadeInOutMedium {
    0%,
    100% {
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
  }

  @keyframes fadeInOutFast {
    0%,
    100% {
      opacity: 0.4;
    }
    50% {
      opacity: 1;
    }
  }

  .animate-fade-slow {
    animation: fadeInOutSlow 4.8s ease-in-out infinite;
  }

  .animate-fade-medium {
    animation: fadeInOutMedium 4s ease-in-out infinite;
  }

  .animate-fade-fast {
    animation: fadeInOutFast 2.5s ease-in-out infinite;
  }
}

.custom-gradient {
  background: linear-gradient(
    to bottom,
    #001c2e 0%,
    #003352 34%,
    #005990 65%,
    #c1e8ff 100%
  );
}
